<a href="https://colab.research.google.com/github/Umair-kd/php-course/blob/master/Betting_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

In [3]:
from google.colab import drive
drive.mount('./drive')

Drive already mounted at ./drive; to attempt to forcibly remount, call drive.mount("./drive", force_remount=True).

In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split

df=pd.read_csv('/content/drive/MyDrive/Betsystem/closing_odds.csv')
df.head()

,match_id,league,match_date,home_team,home_score,away_team,away_score,avg_odds_home_win,avg_odds_draw,avg_odds_away_win,max_odds_home_win,max_odds_draw,max_odds_away_win,top_bookie_home_win,top_bookie_draw,top_bookie_away_win,n_odds_home_win,n_odds_draw,n_odds_away_win
0,170088,England: Premier League,2005-01-01,Liverpool,0,Chelsea,1.0,2.9944,3.1944,2.2256,3.20,3.25,2.29,Paddy Power,Sportingbet,Expekt,9.0,9.0,9.0
1,170089,England: Premier League,2005-01-01,Fulham,3,Crystal Palace,1.0,1.9456,3.2333,3.6722,2.04,3.30,4.15,Pinnacle Sports,bet-at-home,Expekt,9.0,9.0,9.0
2,170090,England: Premier League,2005-01-01,Aston Villa,1,Blackburn,0.0,1.8522,3.2611,4.0144,2.00,3.40,4.50,Pinnacle Sports,Paddy Power,Sportingbet,9.0,9.0,9.0
3,170091,England: Premier League,2005-01-01,Bolton,1,West Brom,1.0,1.6122,3.4133,5.4722,1.67,3.57,6.27,Coral,Pinnacle Sports,Pinnacle Sports,9.0,9.0,9.0
4,170092,England: Premier League,2005-01-01,Charlton,1,Arsenal,3.0,5.9878,3.4778,1.5567,7.00,3.60,1.62,Expekt,Paddy Power,bet365,9.0,9.0,9.0

In [8]:
%cd /content/drive/MyDrive/Betsystem

/content/drive/MyDrive/Betsystem

In [9]:
%ls

closing_odds.csv

In [13]:
data=open('closing_odds.csv').read()
print (data[:600])

match_id,league,match_date,home_team,home_score,away_team,away_score,avg_odds_home_win,avg_odds_draw,avg_odds_away_win,max_odds_home_win,max_odds_draw,max_odds_away_win,top_bookie_home_win,top_bookie_draw,top_bookie_away_win,n_odds_home_win,n_odds_draw,n_odds_away_win
170088,England: Premier League,2005-01-01,Liverpool,0,Chelsea,1,2.9944,3.1944,2.2256,3.2000,3.2500,2.2900,Paddy Power,Sportingbet,Expekt,9,9,9
170089,England: Premier League,2005-01-01,Fulham,3,Crystal Palace,1,1.9456,3.2333,3.6722,2.0400,3.3000,4.1500,Pinnacle Sports,bet-at-home,Expekt,9,9,9
170090,England: Premier League,2005-0

In [18]:
#df=pd.DataFrame(data)
print("ORIGINAL:\n",df)
df=df.drop('match_date',axis=1)
print(df)

ORIGINAL:
        match_id                            league  match_date     home_team  \
0        170088           England: Premier League  2005-01-01     Liverpool
1        170089           England: Premier League  2005-01-01        Fulham
2        170090           England: Premier League  2005-01-01   Aston Villa
3        170091           England: Premier League  2005-01-01        Bolton
4        170092           England: Premier League  2005-01-01      Charlton
...         ...                               ...         ...           ...
90274    351350                   Romania: Liga I  2008-09-26      Bistrita
90275    351351                   Romania: Liga I  2008-09-26      CFR Cluj
90276    351358               Singapore: S-League  2008-09-26    Super Reds
90277    351359  South America: Copa Sudamericana  2008-09-26  Defensor Sp.
90278    351360  South America: Copa Sudamericana  2008-09-26   U. Catolica

       home_score         away_team  away_score  avg_odds_home_win  \
0               0           Chelsea         1.0             2.9944
1               3    Crystal Palace         1.0             1.9456
2               1         Blackburn         0.0             1.8522
3               1         West Brom         1.0             1.6122
4               1           Arsenal         3.0             5.9878
...           ...               ...         ...                ...
90274           1    Din. Bucuresti         2.0             3.5955
90275           1  Steaua Bucuresti         1.0             2.2629
90276           1            Gombak         1.0             1.5250
90277           1       River Plate         2.0             2.4232
90278           1     Internacional         NaN                NaN

       avg_odds_draw  avg_odds_away_win  max_odds_home_win  max_odds_draw  \
0             3.1944             2.2256               3.20           3.25
1             3.2333             3.6722               2.04           3.30
2             3.2611             4.0144               2.00           3.40
3             3.4133             5.4722               1.67           3.57
4             3.4778             1.5567               7.00           3.60
...              ...                ...                ...            ...
90274         3.1920             1.9180               4.01           3.30
90275         3.0882             2.9029               2.50           3.20
90276         3.5375             5.2625               1.65           3.65
90277         3.2026             2.5726               2.60           3.40
90278            NaN                NaN                NaN            NaN

       max_odds_away_win top_bookie_home_win  top_bookie_draw  \
0                   2.29         Paddy Power      Sportingbet
1                   4.15     Pinnacle Sports      bet-at-home
2                   4.50     Pinnacle Sports      Paddy Power
3                   6.27               Coral  Pinnacle Sports
4                   1.62              Expekt      Paddy Power
...                  ...                 ...              ...
90274               2.15               10Bet           bet365
90275               3.00              bet365         888sport
90276               6.25         Sportingbet             bwin
90277               2.80              Betway           bet365
90278                NaN                 NaN              NaN

      top_bookie_away_win  n_odds_home_win  n_odds_draw  n_odds_away_win
0                  Expekt              9.0          9.0              9.0
1                  Expekt              9.0          9.0              9.0
2             Sportingbet              9.0          9.0              9.0
3         Pinnacle Sports              9.0          9.0              9.0
4                  bet365              9.0          9.0              9.0
...                   ...              ...          ...              ...
90274              bet365             20.0         20.0             20.0
90275              bet365             17.0         17.0             17.0
90276                bwin              4.0          4.0              4.0
90277              bet365             19.0         19.0             19.0
90278                 NaN              NaN          NaN              NaN

[90279 rows x 19 columns]
       match_id                            league     home_team  home_score  \
0        170088           England: Premier League     Liverpool           0
1        170089           England: Premier League        Fulham           3
2        170090           England: Premier League   Aston Villa           1
3        170091           England: Premier League        Bolton           1
4        170092           England: Premier League      Charlton           1
...         ...                               ...           ...         ...
90274    351350                   Romania: Liga I      Bistrita           1
90275    351351                   Romania: Liga I      CFR Cluj           1
90276    351358               Singapore: S-League    Super Reds           1
90277    351359  South America: Copa Sudamericana  Defensor Sp.           1
90278    351360  South America: Copa Sudamericana   U. Catolica           1

              away_team  away_score  avg_odds_home_win  avg_odds_draw  \
0               Chelsea         1.0             2.9944         3.1944
1        Crystal Palace         1.0             1.9456         3.2333
2             Blackburn         0.0             1.8522         3.2611
3             West Brom         1.0             1.6122         3.4133
4               Arsenal         3.0             5.9878         3.4778
...                 ...         ...                ...            ...
90274    Din. Bucuresti         2.0             3.5955         3.1920
90275  Steaua Bucuresti         1.0             2.2629         3.0882
90276            Gombak         1.0             1.5250         3.5375
90277       River Plate         2.0             2.4232         3.2026
90278     Internacional         NaN                NaN            NaN

       avg_odds_away_win  max_odds_home_win  max_odds_draw  max_odds_away_win  \
0                 2.2256               3.20           3.25               2.29
1                 3.6722               2.04           3.30               4.15
2                 4.0144               2.00           3.40               4.50
3                 5.4722               1.67           3.57               6.27
4                 1.5567               7.00           3.60               1.62
...                  ...                ...            ...                ...
90274             1.9180               4.01           3.30               2.15
90275             2.9029               2.50           3.20               3.00
90276             5.2625               1.65           3.65               6.25
90277             2.5726               2.60           3.40               2.80
90278                NaN                NaN            NaN                NaN

      top_bookie_home_win  top_bookie_draw top_bookie_away_win  \
0             Paddy Power      Sportingbet              Expekt
1         Pinnacle Sports      bet-at-home              Expekt
2         Pinnacle Sports      Paddy Power         Sportingbet
3                   Coral  Pinnacle Sports     Pinnacle Sports
4                  Expekt      Paddy Power              bet365
...                   ...              ...                 ...
90274               10Bet           bet365              bet365
90275              bet365         888sport              bet365
90276         Sportingbet             bwin                bwin
90277              Betway           bet365              bet365
90278                 NaN              NaN                 NaN

       n_odds_home_win  n_odds_draw  n_odds_away_win
0                  9.0          9.0              9.0
1                  9.0          9.0              9.0
2                  9.0          9.0              9.0
3                  9.0          9.0              9.0
4                  9.0          9.0              9.0
...                ...          ...              ...
90274             20.0         20.0             20.0
90275             17.0         17.0             17.0
90276              4.0          4.0              4.0
90277             19.0         19.0             19.0
90278              NaN          NaN              NaN

[90279 rows x 18 columns]

In [25]:
#splitting the data into training and testing by ratio of 80,20 respectively

X = df.drop(columns=['avg_odds_away_win'])
y = df['avg_odds_away_win']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)